.user-block {
  padding: 10px;
  border: 1px solid rgba(160, 160, 160, 0.25);
  .options-block {
    border-right: 1px solid rgba(160, 160, 160, 0.25);
  }
  .info-block {
    .info-list-item {
      display: none;
      &.active-info {
        display: block;
      }
      h3 {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}
